<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>动态检验</title>
</head>
<style>
    .im02{
        background: url("../static/pic06.jpg")no-repeat fixed;
        background-size: 100% 100%;
    }
    html,body{
        width: 100%;
        height: 100%;
    }
</style>
<body style="margin-left: 500px;margin-top: 200px" class="im02">
<h1 style="color: red">欢迎来到数字验证界面，验证成功后才可发送邮件</h1>
<h2 style="color: orangered;margin-top: 7px">如果看不清直接点击提交可以刷新一张</h2>
<h1 th:text="${wrong}" th:if="${!#strings.isEmpty(wrong)}" style="color: red"></h1>
<form th:action="@{/user/sendmail}">
    <img th:src="@{/user/kaptcha}" id="kaptcha">
    <div style="word-break: break-all"></div>
    <input type="text" name="codecheck" placeholder="请输入验证码">
    <div style="word-break: break-all"></div>
    <button type="submit" style="color: red;width: 200px;margin-top: 15px">提交</button>
</form>
<form th:action="@{/user/backtomanage}">
    <button type="submit" style="color: red;width: 200px;margin-top: 15px">返回</button>
</form>
</body>
</html>
